.certifications h2  {
  font-size: 64px;
  line-height: 75px;
  font-weight: 800;
  margin-bottom: 40px;
}

.certifications p  {
  text-align: center;
}

.certifications .icon  {
  width: 90px;
  height: 90px;
  margin-left: 10px;
}

@media (width >= 900px) {
  .certifications .icon  {
    margin-left: 20px;
    width: 183px;
    height: 183px;
}
}
