.inquiryform > div {
  display: flex;
  flex-direction: column;
}

.inquiryform img {
  width: 100%;
  border-radius: 8px;
  margin-bottom: 40px;
}

.inquiryform > div > div {
  order: 1;
}

.inquiryform > div > .inquiryform-img-col {
  order: 0;
}

.inquiryform > div > .inquiryform-img-col img {
  display: block;
}

.inquiryform p {
  margin: 0 auto;
}

.inquiryform .visible {
  display: block;
}

.inquiryform .not-visible {
  display: none;
}
.inquiryform > div > div:nth-child(2) > form > div {
  padding-bottom: 10px;
}

.inquiryform > div > div:nth-child(1) .inquiryContactsGroup {
  display: flex;
  align-items: end;
}

.inquiryform > div > div:nth-child(1) .inquiryContactsWrapper {
  width: 50%;
}
.inquiryform > div > div:nth-child(1) p:has(+ul) {

}
.inquiryform > div > div:nth-child(1) p+ul {

}

.inquiryform > div > div:nth-child(2) > p {
  padding-bottom: 30px;
}

.inquiryform > div > div:nth-child(2) label {
  display: block;
}

.inquiryform .inquiry-form-col {
  display: flex;
  align-items: center;
}

.inquiryform .inquiry-form-col > div {
  width: 50%;
}

.inquiryform .inquiry-form-col input {
  width: 90%;
}

.inquiryform #inquirySpecs label {
  padding: inherit;
  display: inline-block;
}

.inquiryform  #inquiryProductDescription {
  width: 95%;
  height: 130px;
}

.inquiryform  #inquirySpecsYes, #inquirySpecsNo {
  width: 55px;
}

.inquiryform #inquiry-more > div {
  padding-bottom: 10px;

}
@media (width >= 900px) {
  .inquiryform > div > div:nth-child(2) { 
    margin-top: 10%;
  }

  .inquiryform > div {
    align-items: center;
    flex-direction: unset;
    gap: 24px;
  }

  .inquiryform > div > div {
    flex: 1;
    order: unset;
  }

  .inquiryform-img-col p {
    font-size: 36px;
    line-height: 42.19px;
    width: 432px;
  }
}


@media (width <= 500px) {
  .inquiryform .inquiry-form-col input {
    width: 80%;
  }

  .inquiryform  #inquiryProductDescription {
    width: 90%;
    height: 130px;
  }
}